<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>unify10shots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6B7E9441E85A6C60008C98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B7E9581E85A6C60008C98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6B7E9631E85A6C60008C98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
